.header{
    display: flex;
    justify-content: space-between;

    background-image: url(../../assets/image/progress.svg);
    background-repeat: no-repeat;
    background-position: bottom center;

    padding: 1rem;

    >a{
        color: var(--grey600);
        text-align: center;
        font-size: .8rem;
        font-weight: 600;
        line-height: 1.25rem;
    }
}

.voltar{
    background-image: url(../../assets/image/arrow-left.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 1.2rem;
    padding-left: 1.5rem;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;

    >h2{
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 2.125rem;
    }

    
    >h4{
        color: var(--grey600);
        font-size: .9rem;
        font-weight: 500;
        line-height: 1.375rem;
    }

    >button{
        background-color: var(--greenSecondary);
        border: 1px solid var(--borderButton);
        border-radius: 1rem;
        box-shadow: 0px 1px 4px 0px rgba(139, 158, 184, 0.20);
        padding: 1rem 6rem;
        margin: 1rem;
    }
}

span{
    color: var(--grey400);
    font-weight: 600;
}

.link{
    font-family: var(--primaryFont);
    font-weight: 600;
    color: var(--white);
}
 
.container__genero{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}

.content{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    align-self: stretch; 
    flex-shrink: 0;
    gap: 1rem;
    margin-bottom: 4rem;
}

.genero{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 0;
    padding: 1rem 3rem;
    
    border-radius: 1rem;
    background: var(--white);
    box-shadow: 0px 4px 20px -2px rgba(50, 50, 71, 0.02), 0px 0px 5px 0px rgba(12, 26, 75, 0.04);
}

.genero  span{
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: var(--grey600);
}

.content__input{
    display: none;
}

.content__input:checked ~ .content__label{
    background-color: var(--yellow);
}

.sliderValue{
    width: 3.5rem;
    padding: .5rem 0;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    background: var(--grey700);
    text-align: center;
    color: var(--white);
    font-weight: 600;
}

.sliderValue::placeholder{
    font-family: var(--primaryFont);
    color: var(--white);
    font-weight: 600;
}

.field{
    >input{
        width: 70vw;
        height: 3px;
        outline: none;
        border: none;
    }
}


@media screen and (min-width:1200px) {
  .header{
    justify-content: space-between;
    background-position: left bottom;
    margin: 1rem;

    >a{
        font-size: 1.2rem;
    }
  }
}



body {
    font-family: Arial, sans-serif;
    text-align: center;
}