* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Loved by the King', cursive;
    font-family: 'Poppins', sans-serif;
}

/*Cores*/
:root {
    --cor1: #007d06;
    --cor2: #00ab09;
    --cor3: #1c9322;
    --cor4: #3bc942;
    --cor5: #004a04;
    } 

*:focus {
    outline: 0;
}

a,i{
    transition: .5s;
    text-decoration: none;
    color: var(--cor4);
    font-weight: bold;
}

body{
    background: linear-gradient(to bottom, var(--cor1), var(--cor4));
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    max-width: 380px;
    width: 100%;
    text-align: center;
    flex-direction: column;
    background-color: white;
    height: 100vh;
}

.login{
    display: flex;
    flex-direction: column;
    margin: 4rem 0rem;

    >h1{
        margin-bottom: 1rem;
    }

    >span{
        color: grey;
        font-size: .9rem;
        margin-bottom: 1rem;
    }

    >input{
        padding: 1rem;
        margin: 0rem .5rem;
        margin-bottom: 1rem;
        border-radius: 1rem;
        border: 1px solid var(--cor4);
    }

    >button{
        padding: 1rem;
        margin: 0rem .5rem;
        margin-bottom: 1rem;
        color: white;
        background-color: var(--cor4);
        border: none;
        font-weight: bold;
        font-size: 1rem;
        border-radius: 1rem;
    }
}

.termos{
    color: grey;
    font-size: .9rem;
    margin-bottom: 1rem;
}
