* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background: linear-gradient(to bottom, var(--greenMain), var(--greenSecondary));
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

.container-logo{
    display: flex;

    >h1{
        color: var(--white);
        font-weight: 300;
        font-size: 7rem;
        margin-left: 1rem;
    }

    @media screen and (max-width: 1200px){
        display: none;
    }
}

.container-cadastro{
    width: 552px;
    text-align: center;
    flex-direction: column;
    background-color: white;
    height: 600px;
    padding: 3rem;

    @media screen and (max-width: 600px){
        width: 380px;
    }
}

.cadastro{
    display: flex;
    flex-direction: column;

    >h1{
        margin-bottom: 1rem;
        color: var(--black);
    }

    >p{
        color: grey;
        font-size: .9rem;
        margin-bottom: 1rem;

        >a{
            color: var(--greenSecondary);
        }
    }

    >input{
        padding: 1rem;
        margin: 0rem .5rem;
        margin-bottom: 1rem;
        border-radius: 1rem;
        border: 1px solid var(--greenSecondary)
    }

    >button{
        padding: 1rem;
        margin: 0rem .5rem;
        margin-bottom: 1rem;
        color: white;
        background-color: var(--greenSecondary);
        border: none;
        font-weight: bold;
        font-size: 1rem;
        border-radius: 1rem;
    }
    
    >a{
        color: var(--black);
        font-size: 5rem;
    }
}



.termos{
    color: grey;
    font-size: .8rem;
    font-weight: 200;
    margin-bottom: 1rem;
    display: flex;
    margin-left: 1rem;
    >span{
        margin-left: .5rem;
    }
}